<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestGCGDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8592F5E71D993CAF007BB15A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8592F6001D993CB0007BB15A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8592F60B1D993CB0007BB15A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
